@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-list-disc {
    @apply list-disc pl-6;
    
    li::marker {
      color: #00000033; /* Your specified color */
      font-size: 1.2em; /* Control bullet size */
    }
  }
}

body {
  background-color: white;
  font-family: var(--font-helvetica-neue), 'sans-serif' ;
}

.styled-scrollbar::-webkit-scrollbar {
  width: .5rem;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  border-radius: .25rem;
  background-color: #c1c1c1;
}